
:root {
    --selector-width: 250px;
}

html {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#file-selector {
    --radius: 2em;
    width: var(--selector-width);
}

select {
    width: var(--selector-width);
    font-size: 14px;
}

.container {
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    margin-bottom: 20px;
    height: 35px;
    align-items: center;
}

.row > span {
    min-width: 100px;
    text-align: right;
    margin-right: 20px;
    font-weight: bold;
}

.result-row {
    margin-top: 50px;
}

#result {
    font-size: 16px;
    font-weight: bold;
}

#results {
    display: flex;
    /*flex-direction: column;*/
}

.result-tag {
    margin-right: 10px;
    color: white;
    background-color: #04AA6D !important;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 18px;
}

.hidden {
    display: none !important;
}
